<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
	<appSettings>
		<add key="IsDebug" value="true"/>
		<add key="ClientId" value="f3e0eeb8157f449d9c3df62fb8f93e64"/>
		<add key="RedirectURL" value="http://localhost:4002"/>
		<add key="ServerURL" value="http://localhost:4002"/>
		<add key="DeltaOffset" value="-120"/>
	</appSettings>
</configuration>
